<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bshuiban.teacher">

    <application>
        <activity
            android:name=".view.activity.TeacherHomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="com.bshuiban.teacher.TeacherHomeActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.webView.webActivity.MySpaceWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.webView.webActivity.MainWeiClassWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.webView.webActivity.TeacherLessonInfWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.webView.webActivity.FilterConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PrepareLessonInfActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name=".view.webView.webActivity.TeachClassWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.webView.webActivity.SendNoticeWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.webView.webActivity.LessonListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.CorrectsHomeworkActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.HomeworkAnswerInfActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.TeachScheduleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.webView.webActivity.StudentAnswerInfWebActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.webView.webActivity.CorrectResultWebActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.webView.webActivity.TeacherParentConfirmWebActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.webView.webActivity.TodayHomeworkWebActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.webView.webActivity.TeacherParentConfirmSubjectWebActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.webView.webActivity.MiddleReportInfWebActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.webView.webActivity.SendClassActivityWebActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>