* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  main{
    overflow: scroll;
  }
.box{
    width:100%;
    font-family:PingFangSC-Regular;
    font-size:.28rem;
    color:#747474;
    letter-spacing:0.17px;
    /* height: 9.36rem; */
}
.left dl{
    padding-right: .36rem;
    border:none;
    margin-bottom:.2rem;
}
.left dd{
    width: 100%;
}
.button{
    width: 100%;
}
.name span{
    color:#747474;
    margin-left: .12rem;
}
.content{
    color:#9c9c9c;
    line-height:.45rem;
}
.button span{
    display: inline-block;
    color:#ffffff;
    letter-spacing:0.17px;
    text-align:center;
    width:.7rem;
    height:.4rem;
    background:#999;
    line-height: .4rem;
    float:right;
    border-radius: 15%;
}
.button span:nth-of-type(2){
    margin-right:.32rem;
}
.more{
    width: 2rem;
    height:1rem;
    font-size:.28rem;
    color:#747474;
    letter-spacing:0.17px;
    text-align:center;
    margin: 0 auto;
    font-weight: normal;
    line-height: 1rem;
    margin-top:.5rem;
}
#reply{
    width:100%;
    height: 12.3rem;
    margin-bottom:1rem;
    background:white;
    position: absolute;
    bottom:-12.3rem;
}
#boxx{
    position: relative;
    width:100%;
    height: 12rem;
    overflow: scroll;
    padding-bottom: 1.8rem;
}
#reply .img{
    display: inline-block;
    width:25px;
    height:25px;
    background:blue;
    margin-right:.3rem;
    vertical-align: top;
}
#reply .comment{
    width:100%;
    height: .8rem;
    font-weight:normal;
    font-size: .28rem;
    line-height: .8rem;
    padding-left: 3.3rem;
}
#reply h3 span{
    display: block;
    width:.8rem;
    margin-right:2.8rem;
    line-height: .82rem;
}
#reply ul{
    width:100%;
    padding: .3rem .3rem;
    border-bottom:1px solid #eee;
}
#reply ul li{
    width:7rem;
    height:.5rem;;
    line-height: .5rem;
    vertical-align: top;
}
#reply ul li:nth-of-type(1){
   font-size: .28rem;
    
}
#reply ul li:nth-of-type(1) span{
    border-radius: 50%;
}
#reply ul li:nth-of-type(2){
    padding-left: .8rem;
    font-size: .28rem;
    padding-right:.4rem;
}
#reply ul li:nth-of-type(3){
    padding-left: .8rem;
    font-size:.24rem;
    color:gray;
}
#reply ul li:nth-of-type(4) span{
    display: inline-block;
    color:#ffffff;
    letter-spacing:0.17px;
    text-align:center;
    width:.7rem;
    height:.4rem;
    background:#999;
    line-height: .4rem;
    float:right;
    border-radius: 10%;
    font-size:.24rem;
}
.img1{
    display:inline-block;
    width:.24rem;
    height: .24rem;
    background-image:url("../images/coach/praise@2x.png");
    background-size:100%;
    margin-right:.08rem;
    margin-top:.04rem;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .img1 {
      background-image: url("../images/coach/praise@2x.png");
    }
  }
  
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .img1 {
      background-image:  url("../images/coach/praise@3x.png");
    }
  }
  .img2{
    display: inline-block;
    width:15px;
    height: 10px;
    margin-right:.08rem;
    margin-top:.08rem;
    margin-left:.62rem;
    background-image:url("../images/coach/browse@2x.png");
    background-size:100%;
    margin-left:.62rem;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .img2 {
      background-image: url("../images/coach/browse@2x.png");
    }
  }
  
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .img2 {
      background-image:  url("../images/coach/browse@3x.png");
    }
  }
  #reply .mores{
      text-align: center;
      width:100%;
      height: .8rem;
      line-height: .8rem;
      padding-left: 2.5rem;
  }
  #reply textarea{
      width:7.1rem;
      margin-left: .2rem;
      height: 1rem;
      font-size: .28rem;
      border:2px solid gray;
  }
  #reply button{
      background:blue;
      width:50px;
      height: .5rem;
      font-size:.28rem;
      line-height: .5rem;
      text-align: center;
      float:right;
      margin-right: .2rem;
      border:none;
      border-radius: .5rem;
  }
  #reply .foot{
      position: absolute;
      bottom: 0;
      padding-top:.2rem;
      padding-bottom:.1rem;
      width:100%;
      height: 1.9rem;
      background: #eee;
  } 
  .comment{
      position: relative;
  }
  .comment i{
      width:.8rem;
      position: absolute;
      left:.2rem;
      top:.06rem;
  }
  .empt{
      font-size: .4rem;
      line-height: 1rem;
      text-align: center;
  }

