.color {
  color: #00c7b5;
}
.wrongPage {
  position: relative;
  box-sizing: border-box;
}
.wrongPage header {
  position: absolute;
  top: 0;
  left: 0;  
  z-index:10;
}
.wrongPage main {
  padding-top: 0.8rem;
  width: 100%;
  height:100%;
  overflow: hidden;
  position: relative;
}
.wrongPage main .list {
  position: relative;
}
.wrongPage main .list:before,.list:after {
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  z-index: 9;
  position:absolute;
  display: block;
  left:0;
}
.wrongPage main .list:before{
  content: attr(uptext);
  font-size:20px;
  top:-40px;
}
.wrongPage main .list:after{
  content: attr(downtext);
  bottom:-40px;
  font-size:20px;
}
.wrongPage header .more {
  display: block;
  width: 0.39rem;
  height: 0.5rem;
  position: absolute;
  right: 0.27rem;
  top: 0.35rem;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../images/work/more@2x.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .workIndex header .details {
    background-image: url("../images/work/more@2x.png");
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .workIndex header .details {
    background-image: url("../images/work/more@3x.png");
  }
}
.wrongPage main {
  overflow-Y: scroll; 
  padding-bottom: 1rem;
}
.wrongPage main .wrongMsg {
  display: block;
  box-shadow:0 2px 4px 0 rgba(204,204,204,0.50);
  margin: 0.23rem;
  padding: 0.23rem;
  position: relative;
  border: solid 2px #fff;
}
.wrongPage main .wrongMsg .examina {
  padding-bottom: 0.6rem;
  word-wrap: break-word;
}
.wrongPage main .wrongMsg .yresult {
  width: 6.58rem;
  bottom: 0.23rem;
  left: 0.23rem;
}
.wrongPage main .wrongMsg .yresult span {
  color: red;
}

.yourAnswer img {
    vertical-align: text-top;
}

.wrongPage main .wrongMsg .yresult span img {
    vertical-align: text-top;
}

.wrongPage img {
  max-width: 40%;
}
.sureButton {
  width: 100%;
  height: 0.78rem;
  background: #00c7b5;
  color: #fff;
  text-align: center;
  line-height: 0.78rem;
}
.moreWrong .list {
  padding: 0.2rem 0.36rem;
}
.moreWrong .list p {
  font-size: 0.28rem;
  color: #747474;
}
.moreWrong .typeList {
  width: 6.5rem;
}
.moreWrong .typeList span {
  padding: 0 0.4rem;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.32rem;
  color: #9b9b9b;
  border:1px solid #f4f4f4;
  border-radius:1px;
  display: inline-block;
  margin-right: 0.2rem;
  margin-top: 0.15rem;
}
.moreWrong .list .navs #treeDemo li {
  list-style: none;
  color: #9b9b9b;
  font-size: 0.24rem;
  margin-top: 0.2rem;
}
.wrongMsg main {
overflow-x: hidden;
}
.question {
word-wrap: break-word;
}
.examina div, .wrongMsg .question div {
width: 98%!important;
}
.wrongPage .wrongMsg main {
  background: #f9f9f9;
  padding: 0.4rem 0.3rem;
}
.wrongMsg main .wrongBox {
  background: #fff;
  padding: 0.3rem 0.4rem;
}
.wrongMsg main .wrongBox .question {
  margin-bottom: 0.6rem;
}
.wrongMsg .yourAnswer, .wrongMsg .trueAnswer {
  padding-bottom: 0.3rem;
}
.wrongMsg b {
  color: red;
  font-weight: normal;
}
.wrongMsg .lxitem_exp_frm {
  margin-left: 0.3rem;
}
.wrongMsg .footer {
  width: 99.8%;
  height: 1rem;
  border:2px solid #00c7b5;
  display: flex;
  border-right: none;
}
.wrongMsg .footer span {
  flex: 1;
  text-align: center;
  line-height: 1rem;
  border-right:2px solid #00c7b5;
  color: #00c7b5;
}
.wrongMsg .footer span a {
  display: block;
  width: 100%;
  height: 100%;
  color: #00c7b5;
}
.clearMark {
  width: 6.04rem;
  height: 3.64rem;
  background: #fff;
  box-shadow:0 0 4px 0 rgba(175,175,175,0.50);
  border-radius:2px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
 }
 .clearMark h3, .clearMark .btn {
  width: 100%;
  height: 0.91rem;
  line-height: 0.91rem;
 }
 .clearMark .msg {
  height: 1.82rem;
  border: solid 1px #eee;
  line-height: 1.82rem;
 }
 .clearMark .btn {
    display: flex;
 }
 .clearMark .btn span {
    flex: 1;
 }
 .clearMark .btn span:nth-child(1) {
  border-right: solid 1px #eee;
 }
.sure {
  color: #00c7b5;
}
.question div {
  width: 100%!important;
}
.practive main {
  background: #f9f9f9;
  padding: 0.2rem;
  color: #525252;
}
.practive main .title {
  height: 1.1rem;
  line-height: 1.1rem;
  text-align: center;
  font-size: 0.28rem;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;

}
.practive main .msgBox {
  background: #fff;
  margin-top: 0.2rem;
  padding: 0.2rem 0.4rem 0.4rem 0.4rem;
}
.practive main {
    overflow-X: hidden;
}
.practive .msgBox .question{
     overflow: hidden;
}

.practive .msgBox .question  .examina {
    table-layout: fixed;
    word-break: break-all;
    overflow: hidden;
}

.practive .msgBox .question .type {
  vertical-align: top;
  display: inline-block;
  width: 10%;
  height: 0.4rem;
  border: solid 2px #00c7b5;
  border-radius:2px;
  font-size: 0.28rem;
  text-align: center;
  line-height: 0.4rem; 
  color: #00c7b5;
  margin-right: 0.4rem;
}
.practive .msgBox .question .con {
    display: inline-block;
    width: 80%;
}
.practive .msgBox .question .lxitem_ct_frm {
    height: 80%;
}
.practive .msgBox .question .lxitem_ct_frm ol {
  margin-left: 0.3rem;
}
.practive .msgBox .question img {
  min-width: 0.3rem;
}
.practive .msgBox .change {
  padding: 0.4rem;
  display: flex;
  text-align: center;
}
.practive .msgBox .change span {
  flex: 1;
}
.practive .msgBox .changeButton span {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: solid 2px #00c7b5;
  text-align: center;
  line-height: 0.8rem;
  color: #00c7b5;
  margin-left: 0.3rem;
  margin-right: 0.4rem;
}
.practive .msgBox .changeButton .chActive {
  background: #00c7b5;
  color: #ffffff;
}
.practive .answer, .practive .analysis {
  padding-left: 0.3rem;
}
.practive .answer {
  font-size: 0.36rem;
  margin: 0.6rem 0;
}
.practive .answer span:nth-child(1) {
  color: #00c7b5;
}
.practive .answer span:nth-child(2) {
  color: #9b9b9b;
}
.practive .analysis p:nth-child(2) {
  padding: 0.4rem 1rem 0.4rem 0;
}
.practive .analysis p:nth-child(3) {
  padding-bottom: 0.2rem;
}
#treeDemo_301_ico {
  display: block;
}
.question img,.answerMsg img {
  max-width: 100%;
}
.answerMsg div {
  width: 100%!important;
}
.question ol li, .wrongPage ol li {
    width: 100%!important;
    list-style-position: inside;
}
.question ol li p, .wrongPage ol li p {
    display: inline;
}
.yresult>span>img{
  width: 70%;
  height: 100%;
}
.wrongPage main .wrongMsg .examina>img{
  height: 1rem;
  vertical-align: bottom
}
.examina .lxitem_ct_frm .lxitem_ct_main p>[img-type="tex"]{
  height: .4rem!important;
  vertical-align: bottom
}
.examina .lxitem_ct_frm .lxitem_ct_main p>[img-type="img"]{
  height:2rem!important;
  vertical-align: bottom
}
.examina .lxitem_ct_frm ol [img-type="img"]{
  height: 1rem;
}
.examina .lxitem_ct_frm ol [img-type="tex"]{
  height: .25rem;
}
examina>img {
  height: 1rem;
}
.wrongMsg div div>img{
  max-width:100%;
  height:1rem;
}

