* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  main{
    overflow: scroll;
    height:800px;
  }
.box{
    width:100%;
    font-family:PingFangSC-Regular;
    font-size:.28rem;
    color:#747474;
    letter-spacing:0.17px;
    /* height: 9.36rem; */
}
.left dl{
    padding-right: .36rem;
    border:none;
    margin-bottom:.2rem;
}
.left dd{
    width: 100%;
}
.button{
    width: 100%;
}
.name span{
    color:#747474;
    margin-left: .12rem;
}
.content{
    color:#9c9c9c;
    line-height:.45rem;
}
.button span{
        float: right;
        color: #ffffff;
        letter-spacing: 1px;
        text-indent: 1px;
        text-align: center;
        width: .8rem;
        height:20px;
        font-size:16px;
        line-height:21px;
        background: #d8d8d8;
        border-radius: 12%;
}
.button span:nth-of-type(2){
    margin-right:.32rem;
}
.more{
    width: 2rem;
    height:1rem;
    font-size:.32rem;
    color:#747474;
    letter-spacing:0.17px;
    text-align:center;
    margin: 0 auto;
    font-weight: normal;
    line-height: 1rem;
    margin-top:.5rem;
    margin-bottom: 2%;
}
#reply{
    width:100%;
    height: 12.3rem;
    margin-bottom:1rem;
    background:white;
    position: absolute;
    bottom:-12.3rem;
}
#boxx{
    position: relative;
    width:100%;
    height: 12rem;
    overflow: scroll;
    padding-bottom: 1.8rem;
}
#reply .img{
    display: inline-block;
    width:25px;
    height:25px;
    background:blue;
    margin-right:.3rem;
    vertical-align: top;
}
#reply .comment{
    width:100%;
    height: .8rem;
    font-weight:normal;
    font-size: .28rem;
    line-height: .8rem;
    padding-left: 3.3rem;
}
#reply h3 span{
    display: block;
    width:.8rem;
    margin-right:2.8rem;
    line-height: .82rem;
}
#reply ul{
    width:100%;
    padding: .3rem .3rem;
    border-bottom:1px solid #fafafa;
}
#reply ul li{
    width:7rem;
    height:.5rem;;
    line-height: .5rem;
    vertical-align: top;
}
#reply ul li:nth-of-type(1){
   font-size: .28rem;
    
}
#reply ul li:nth-of-type(1) span{
    border-radius: 50%;
}
#reply ul li:nth-of-type(2){
    padding-left: .8rem;
    font-size: .28rem;
    padding-right:.4rem;
}
#reply ul li:nth-of-type(3){
    padding-left: .8rem;
    font-size:.24rem;
    color:gray;
}
#reply ul li:nth-of-type(4) span{
    display: inline-block;
    color:#ffffff;
    letter-spacing:0.17px;
    text-align:center;
    width:.7rem;
    height:.4rem;
    background:#999;
    line-height: .4rem;
    float:right;
    border-radius: 10%;
    font-size:.24rem;
}
.img1{
    display:inline-block;
    width:.24rem;
    height: .24rem;
    background-image:url("../images/coach/praise@2x.png");
    background-size:100%;
    margin-right:.08rem;
    margin-top:.04rem;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .img1 {
      background-image: url("../images/coach/praise@2x.png");
    }
  }
  
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .img1 {
      background-image:  url("../images/coach/praise@3x.png");
    }
  }
  .img2{
    display: inline-block;
    width:15px;
    height: 10px;
    margin-right:.08rem;
    margin-top:.08rem;
    margin-left:.62rem;
    background-image:url("../images/coach/browse@2x.png");
    background-size:100%;
    margin-left:.62rem;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .img2 {
      background-image: url("../images/coach/browse@2x.png");
    }
  }
  
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .img2 {
      background-image:  url("../images/coach/browse@3x.png");
    }
  }
  #reply .mores{
      text-align: center;
      width:100%;
      height: .8rem;
      line-height: .8rem;
      padding-left: 2.5rem;
  }
  #reply textarea{
      width:7.1rem;
      margin-left: .2rem;
      height: 1rem;
      font-size: .28rem;
      border:2px solid gray;
  }
  #reply button{
      background:blue;
      width:50px;
      height: .5rem;
      font-size:.28rem;
      line-height: .5rem;
      text-align: center;
      float:right;
      margin-right: .2rem;
      border:none;
      border-radius: .5rem;
  }
  #reply .foot{
      position: absolute;
      bottom: 0;
      padding-top:.2rem;
      padding-bottom:.1rem;
      width:100%;
      height: 1.9rem;
      background: #fafafa;
  } 
  .comment{
      position: relative;
  }
  .comment i{
      width:.8rem;
      position: absolute;
      left:.2rem;
      top:.06rem;
  }
  .empt{
      font-size: .4rem;
      line-height: 1rem;
      text-align: center;
  }
.looktotal{
        width: 100%;
        height: 1rem;
        color:black;
        line-height: 1rem;
        text-align: center;
        font-size:.32rem;
        margin-top: 2%;
        margin-bottom:2%;
      }
    .date p:nth-of-type(1) {
        width:100%;
        height:.8rem;
    }
    .date h4{
        width:100%;
        height: 1.2rem;
        line-height: 1.2rem;
        text-align: center;
        color:white;
        font-size: .32rem;
    }
    .teachlist{
        height:1.8rem;
        width: 100%;
        border-top: .12rem solid #f0f0f0;
        background:#f0f0f0;
    }
    .tea1, .tea2, .tea3{
        width:100%;
        height:100%;
        background: white;
        border-radius: .16rem;
    }
    .teachtime{
        color:white;
        width: 100%;
        height: 1.2rem;
        padding-left: 42%;
        line-height: 1.4rem;
        font-size: .4rem;
    }
   .teachlist li{
   float: left;
   width:44%;
   height:1.68rem;
   border-radius: .16rem;
   }
    .teachlist1{
        margin-right:4%;
        margin-left:4%;
    }
    .teachlist2{
        margin-right: 4%;
    }
    .tea1 {
      background-image: url("../images/reset/xgkc.png");
      background-repeat: no-repeat;
      background-size: .8rem .6rem;
      background-position: center 35%;
      padding-top:0.1px;
    }
    .tea1 p{
        width: 100%;
        text-align: center;
        margin-top:30%;
        color:#67b8f6;
        font-size:.34rem
    }
    .tea2 p{
        width: 100%;
        text-align: center;
        margin-top: 30%;
        color:#fc9797;
        font-size:.32rem
    }
    .tea3 p{
        width: 100%;
        text-align: center;
        margin-top: 50%;
        color:#00c7b5;
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        .tea1 {
          background-image: url("../images/reset/xgkc.png");
        }
      }
      
      @media only screen and (-webkit-min-device-pixel-ratio: 3) {
        .tea1 {
          background-image: url("../images/reset/xgkc.png");
        }
      }
    .tea2 {
   background-image: url("../images/reset/jrzy.png");
    background-repeat: no-repeat;
    background-size: .8rem .6rem;
    background-position: center 35%;
    padding-top:0.1px;
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .tea2 {
    background-image: url("../images/reset/jrzy.png");
    }
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .tea2 {
    background-image: url("../images/reset/jrzy.png");
    }
    }
    .tea3 {
    background-image: url("../images/reset/3@2x.png");
    background-repeat: no-repeat;
    background-size: .8rem .6rem;
    background-position: center 35%;
    padding-top:0.1px;
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .tea3 {
    background-image: url("../images/reset/3@2x.png");
    }
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .tea3 {
    background-image:  url("../images/reset/3@3x.png");
    }
    }
.color{
    color:#00c7b5;
}
#main {
    height: 100%;
    position: relative;
    overflow-y: scroll;
}

#main .listoo {
    position: relative;
}

#main .listoo:before,
.listoo:after {
    width: 100%;
    text-align: center;
    height: .8rem;
    line-height: .8rem;
    font-size: .28rem;
    z-index: 9;
    position: absolute;
    display: block;
    left: 0;
}

#main .listoo:before {
    content: attr(uptext);
    top: -.8rem;
}

#main .listoo:after {
    content: attr(downtext);
    bottom: -.8rem;
}
