.mainClassList, .classList {
    position: relative;
    padding-top: 0.9rem;
    box-sizing: border-box;
}
.mainClassList header, .classList header {
    position: absolute;
    top: 0;
    left: 0;  
    z-index:10;
}
.mainClassList main, .classList main {
    width: 100%;
    height:100%;
    overflow-Y:hidden;
    position: relative;
}
.mainClassList main .list, .classList main .list {
    position: relative;
}
.mainClassList main .list:before,.list:after, .classList main .list:before,.list:after {
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    z-index: 9;
    position:absolute;
    display: block;
    left:0;
}
.mainClassList main .list:before, .classList main .list:before{
    content: attr(uptext);
    top:-40px;
}
.mainClassList main .list:after, .classList main .list:after{
    content: attr(downtext);
    bottom:-40px;
}
.stuResource {
    position: relative;
    padding-top: 0.9rem;
    box-sizing: border-box;
}
.stuResource header {
    position: absolute;
    top: 0;
    left: 0;  
    z-index:10;          
}
.stuResource main {
    width: 100%;
    height: 100%;
    overflow-Y: hidden;
    position: relative;
}
.stuResource main .list {
    position: relative;
}
.stuResource main .list:before,.list:after{
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    z-index: 9;
    position:absolute;
    display: block;
    left:0;
}
.stuResource main .list:before{
    content: attr(uptext);
    top:-40px;
}
.stuResource main .list:after{
    content: attr(downtext);
    bottom:-40px;
}
.mySpace .myId {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    text-indent: 0.4rem;
}
.mySpace .myMsg {
    width: 100%;
    padding: 0.2rem 0.4rem;
    border-top: solid 0.1rem #f2fdfb;
    border-bottom: solid 0.1rem #f2fdfb;
}
.mySpace .leaveMsg h3 , .mySpace .mainClass h3{
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    display: flex;
    justify-content: space-between;
    padding: 0 0.3rem;
    font-size: 0.34rem;
    color: #9a9a9a;
}
.mySpace .leaveMsg {
    border-top: solid 0.1rem #f2fdfb;
}
.mySpace .leaveMsg h3{
    border-bottom: solid 1px #eee;
}
.mySpace .leaveMsg h3 .allLeave , .mySpace .mainClass h3 .all{
    color: #000;
}
.mySpace .mainClass .list dl ,.mainClassList dl {
    border-top: solid 2px #eee;
    width: 100%;
    display: flex;
    padding: 0.2rem 0.1rem;
}
.mySpace .mainClass .list dl dt , .mainClassList dl dt {
    width: 30%;
}
.mySpace .mainClass .list dl dt img , .mainClassList dl dt img {
    width: 90%;
    height: auto;
    border-radius: 0.1rem;
}
.mySpace .mainClass .list dl dd .mainClassList dl dd {
    width: 70%;
    color: #9a9a9a;
}
.mySpace .mainClass .list dl dd h3 , .mainClassList dl dd h3 {
    padding-left: 0;
    font-size: 0.32rem;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    line-height: 0.45rem;
}
.mySpace .mainClass .list dl dd p , .mainClassList dl dd p {
    font-size: 0.28rem;
    padding: 0.1rem 0;
}
.mySpace .mainClass .list dl dd h4 b , .mainClassList dl dd h4 b {
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    background-size: 100%;
    background-repeat: no-repeat;
}
.mySpace .mainClass .list dl dd h4 span:nth-child(1) , .mainClassList dl dd h4 span:nth-child(1) {
    margin-right: 1rem;
}
.mySpace .mainClass .list dl dd h4 span:nth-child(1) b , .mainClassList dl dd h4 span:nth-child(1) b {
    background-image: url("../images/coach/praise@2x.png");
}
.mySpace .mainClass .list dl dd h4 span:nth-child(2) b , .mainClassList dl dd h4 span:nth-child(2) b {
    width: 0.4rem;
    height: 0.4rem;
    background-position-y: 0.12rem;
    background-image: url("../images/coach/browse@2x.png");
}
.mySpace .leaveMsg .leave{
    width: 100%;
}
.mySpace .leaveMsg .leave .content {
    position: relative;
    width: 100%;
}

.mySpace .leaveMsg .leave .content textarea {
    width: 90%;
    margin-left: 5%;
    margin-top: 0.3rem;
    border: solid 0.01rem #eee;
    height: 2rem;
    outline: none;
    font-size: 0.3rem;
}

.mySpace .leaveMsg .leave .content .note {
    position: absolute;
    left: 0.6rem;
    top: 0.5rem;
    color: #eee;
}

.mySpace .leaveMsg .leave button {
    width: 1.5rem;
    height: 0.5rem;
    background: #1ED2BC;
    color: #FFF;
    border-radius: 0.05rem;
    border: solid 0.01rem #1ED2BC;
    float: right;
    margin-right: 5%;
}

.mySpace .leaveMsg .leave .list {
    clear: both;
    margin-top: 0.5rem;
}

.mySpace .leaveMsg .leave .list dl, .leave .replyBox dl {
    display: flex;
    border-bottom: solid 0.01rem #eee;
    padding-bottom: 0.2rem;
}

.mySpace .leaveMsg .leave .list dl dt, .leave .replyBox dl dt {
    width: 1.5rem;
    height: 100%;
}

.mySpace .leaveMsg .leave .list dl dt img, .leave .replyBox dl dt img {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    margin: 0.1rem 0.3rem;
}

.mySpace .leaveMsg .leave .list dl dd h2, .leave .replyBox dl dd h2 {
    color: #1ED2BC;
    font-size: 0.32rem;
    line-height: 0.8rem;
}

.mySpace .leaveMsg .leave .list dl dd p:nth-child(3), .mySpace .leaveMsg .leave .replyBox dl dd p:nth-child(3) {
    color: #ccc;
    margin-top: 0.2rem;
    font-size: 0.3rem;
}

.mySpace .leaveMsg .leave .list .message {
    font-size: 0.28rem;
}

.mySpace .leaveMsg .leave .list dl dd p span {
    display: inline-block;
    color: #aaa;
    width: 1rem;
    height: 0.4rem;
    background: #eee;
    border-radius: 0.05rem;
    text-align: center;
    line-height: 0.4rem;
    margin-left: 0.3rem;
}
.mySpace .leaveMsg .leave .replyBox {
    width: 100%;
    height: 0;
    position: absolute;
    background: #fff;
    right: 0;
    bottom: 0;
}
.mySpace .leaveMsg .leave .close {
    width: 0.6rem;
    height: 0.6rem;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 0.6rem;
    color: #aaa;
}
.mySpace .leaveMsg .leave .replyList li{
    width: 100%;
    border-bottom: solid 1px #eee;
    position: relative;
    padding-bottom: 1rem;
}
.mySpace .leaveMsg .leave .replyList li .removeReply {
    position: absolute;
    bottom: 0.2rem;
    right: 0;
    background: #ccc;
}
.mySpace .leaveMsg .leave .replyList p {
    text-align: center;
    line-height: 2rem;
    color: #aaa;
}
.mySpace .leaveMsg .leave .replyList h3 {
    font-size: 0.3rem;
    line-height: 0.5rem;
    text-indent: 0.4rem;
}
.mySpace .leaveMsg .leave .replyList h3:nth-child(1) {
    color: #00c7b5;
}
.mySpace .leaveMsg .leave .replyList h3:nth-child(2) span{
    display: block;
    padding: 0 0.6rem;
    word-wrap: break-word;
}
.mySpace .leaveMsg .leave .replyList h3:nth-child(2) time{
    display: block;
    width: 100%;
    color: #ccc;
    font-size: 0.2rem;
    text-align: right;
    padding-right: 0.4rem;
}
.mySpace .leaveMsg .inputMsg {
    font-size: 0.28rem;
}
.mySpace .leaveMsg .leave .list dl {
    width: 100%;
    display: flex;
}
.mySpace .leaveMsg .leave .list dl dt {
    width: 30%;
    width: 1rem;
}
.mySpace .leaveMsg .leave .list dl dd {
    margin-left: 10%;
    width: 70%;
}
.mySpace .leaveMsg .leave .list dl dt img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.mySpace .myMsg dl {
    padding: 0.4rem;
    display: flex;
}
.mySpace .myMsg dl dd p {
    font-size: 0.28rem;
    color: #9a9a9a;
    line-height: 0.5rem;
}
.mySpace .myMsg dl dt {
    padding-left: 10%;
}
.mySpace .myMsg dl dt img{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}
.mySpace .myMsg dl dd {
    margin-left: 0.5rem;
}
.mySpace .myMsg .text {
    color: #9a9a9a;
    font-size: 0.3rem;
}
.stuResource header span:nth-child(2) {
    position: relative;
}

.stuResource header span:nth-child(2) input {
    border: solid 0.01rem #fff;
    width: 50%;
    height: 0.4rem;
    border-radius: 0.2rem;
    outline: none;
    text-indent: 0.3rem;
}

.stuResource header span:nth-child(2) .search {
    width: 0.3rem;
    height: 0.3rem;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0.3rem;
    right: 28%;
    background-image: url("../images/work/see@2x.png");
}
.classMsg header .ico, .stuResource header .ico, .sendBox header .ico {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    width: 0.4rem;
    height: 0.45rem;
    background-repeat: no-repeat;
    background-size: 100%;    
}
.stuResource header .ico {
    background-image: url("../images/work/more@2x.png");
}
.sendBox header .ico {
    background-image: url("../images/index/send@2x.png");
}
.classMsg header .ico img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.stuResource main .list dl {
    display: flex;
    padding: 0.2rem 0.4rem;
    border-bottom: solid 1px #eee;
}
.stuResource main .list dl dt {
    width: 25%;
}
.stuResource main .list dl dt img {
    width: 100%;
    height: auto;
}
.stuResource main .list dl dd {
    margin-left: 0.2rem;
    font-size: 0.26rem;
    position: relative;
}

.stuResource main .list dl dd p {
    width: 4.5rem;
}

.stuResource main .list dl dd p:nth-child(2) {
    margin-top: 0.3rem;
}

.stuResource main .list dl dd .name {
    display: block;
    margin-top: 0.2rem;
    width: 1.8rem;
    height: 0.4rem;
    border: solid 0.01rem #1DD4BD;
    color: #1DD4BD;
    text-align: center;
    line-height: 0.4rem;
    margin-left: 65%;
}
.details .classImg {
    width: 100%;
}
  
.details .classImg img {
    width: 100%;
    height: auto;
}

.details .synopsis {
    width: 100%;
    height: 2.56rem;
    color: #747474;
}

.details .synopsis p {
    text-indent: 0.2rem;
    margin-top: 0.38rem;
}

.details .classTab {
    padding-bottom: 1rem;
}

.details .classTab .navs {
    width: 100%;
    height: 0.8rem;
    display: flex;
}

.details .classTab .catalog p {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.details .classTab .navs span {
    flex: 1;
    text-align: center;
    line-height: 0.8rem;
    background: #D8D8D8;
    color: #fff;
}

.details .classTab .navs .index {
    background: #999999;
}

.details .classTab div {
    overflow-Y: scroll;
}

.details .classTab div p {
    margin-top: 0.3rem;
    text-indent: 0.2rem;
}
.details .button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.8rem;
    display: flex;
}
.details .button p {
    flex: 1;
    text-align: center;
    line-height: 0.8rem;
    background: #00c7b5;
    color: #fff;
}
.details .button .coll {
    background: #747474;
}
.details .summary {
    padding: 0 0.4rem;
}
.details .summary  p {
    font-size: 0.32rem!important;
    line-height: 0.6rem!important;
}
.notic {
    position: relative;
    padding-top: 0.9rem;
    box-sizing: border-box;
}
.notic header {
    position: absolute;
    top: 0;
    left: 0;  
    z-index:10;          
}
.notic main {
    width: 100%;
    height: 100%;
    overflow-Y: hidden;
    position: relative;
    background: #F9F9F9;
}
.notic main .list {
    position: relative;
}
.notic main .list:before,.list:after{
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    z-index: 9;
    position:absolute;
    display: block;
    left:0;
}
.notic main .list:before{
    content: attr(uptext);
    top:-40px;
}
.notic main .list:after{
    content: attr(downtext);
    bottom:-40px;
}
.notic main .list {
    background: #F9F9F9;
    padding-top: 0.1px;
}
.notic main .listBox div {
    padding: 2%;
    width: 90%;
    margin-top: 0.35rem;
    margin-left:5%;
    background: #fff;
    color: #9b9b9b;
}

.notic main .list div p {
    font-size: 0.24rem;
}

.notic main .list div p:last-child {
    text-align: right;
}

.notic main .list div span {
    font-size: 0.26rem;
    margin-right: 0.22rem;
    line-height: 0.9rem;
}
.notic header .send {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    width: 0.4rem;
    height: 0.45rem;
}
.notic header .send img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.sendBox {
    background: #f9f9f9;
}
.sendBox main textarea {
    width: 100%;
    height: 5rem;
    border: none;
}
.sendBox main .changeClass {
    width: 100%;
    height: 6rem;
    background: #fff;
    margin-top: 1.3rem;
}
.sendBox main .changeClass p {
    width: 100%;
    height: 1rem;
    padding: 0 0.4rem;
    line-height: 1rem;
    display: flex;
    justify-content: space-between;
    color: #747474;
    border-bottom: solid 1px #eee;
}
.sendBox main .changeClass p .sendBtn {
    color: #00c7b5;
}
.sendBox main .changeClass h3 {
    font-size: 0.32rem;
    color: #747474;
    padding: 0.2rem 0.4rem;
}
.sendBox main .changeClass h3 span {
    width: 0.3rem;
    height: 0.3rem;
    display: inline-block;
    border: solid 1px #aaa;
    border-radius: 50%;
    background: #fff;
    margin: 0 0.1rem;
}
.sendBox main .changeClass h3 .check {
    background: #00c7b5;
}
.change main {
    padding: 0.3rem 0.3rem;
    padding-bottom: 0.8rem;
}
.change main p {
    color: #747474;
}
.change main span {
    display: inline-block;
    color: #a6a6a6;
    font-size: 0.28rem;
    border: solid 1px #eee;
    padding: 0.08rem 0.1rem;
    margin: 0.3rem  0.3rem 0 0;
}
.change #sure {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    color: #fff;
    background: #00c7b5;
    text-align: center;
}
.change main .selected {
    color: #00c7b5;
    border: solid 1px #00c7b5;
}
header .more {
    display: block;
    width: 0.39rem;
    height: 0.5rem;
    position: absolute;
    right: 0.27rem;
    top: 0.35rem;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../images/work/more@2x.png");
}
.classList main {
    background: #f9f9f9;
}
.classList main .list {
    padding: 0.1rem 0.4rem;
}
.classList main .list ul {
    width: 100%;
    height: 2rem;
    background: #fff;
    margin-top: 0.4rem;
}
.classList main .list ul li {
    text-indent: 0.4rem;
    line-height: 0.4rem;
    padding-top: 0.3rem;
}
.classList main .list ul li:nth-child(1) span {
    display: inline-block;
    width: 0.15rem;
    height: 0.15rem;
    border-radius: 50%;
    background: #f87878;
    margin-left: 0.2rem;
}
.classList main .list ul li:nth-child(2) {
    color: #9a9a9a;
    font-size: 0.28rem;
}
.report main nav {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    background: #fff;
    color: #6a6a6d;
}
.report main nav span {
    display: inline-block;
    width: 38%;
    height: 0.76rem;
    border-bottom: solid 0.04rem #fff;
    margin: 0 5%;
    text-align: center;
}
.report main {
    background: #f4f4f4;
}
.report main nav .active {
    border-bottom: solid 0.04rem #00c7b5;
}
.report table {
    width: 100%;
    text-align: center;
    background: #fff;
    margin-top: 0.2rem;
    font-weight: normal;
    border-collapse: collapse;
    border: solid #eaeaea 1px;
}
.report table tHead th {
    font-weight: normal;
    vertical-align: middle;
    border: solid #eaeaea 1px;
    line-height: 0.5rem;
}
.report table tHead tr:nth-child(1) th:nth-child(2) {
    border-bottom: 0;
}
.report table tHead tr:nth-child(2) th {
    border-right: 0;
    border-left: 0;
    border-top: 0;
}
.report table tBody tr {
    line-height: 1rem;
}
.report main {
    padding-bottom: 1.8rem;
}
.report .changeBtn {
    background: #fff;
    line-height: 1rem;
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    justify-content: space-between;
    border-top: solid 1px #eee;
}
.report .changeBtn span {
    width: 33.33%;
    text-align: center;
    border-right: solid 1px #eee;
}
.report .changeBtn span:last-child {
    border: 0;
}
.report .watchPic {
    width: 100%;
    height: 0.8rem;
    color: #00c7d5;
    line-height: 0.8rem;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 1rem;
    background: #fff;
    border-top: solid 1px #eee;
}
.classMsg nav {
    width: 35%;
    height: 3rem;
    border: solid 1px #eee;
    box-shadow: 0 0 4px 0 rgba(175,175,175,0.50);
    position: fixed;
    right: 0;
    top: 0.9rem;
    background: #fff;
}
.classMsg nav p {
    padding: 5% 10%;
}
.classMsg nav p img {
    vertical-align: top;
}
.classMsg main .time {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    color: #bebebe;
}
.classMsg main .msg span {
    display: inline-block;
    height: 0.8rem;
    width: 30%;
    padding-left: 10%;
    padding-top: 1px;
}
.classMsg main .msg span img {
    width: 0.4rem;
    height: auto;
    vertical-align: top;
}
.classMsg main .msg span i {
    margin-left: 0.1rem;
}
.classMsg main .msg .ends {
    color: #00c7b5;
}
.classMsg nav img {
    width: 0.4rem;
    height: auto;
}
.report .stuBox {
    background: #fff;
    margin-top: 0.2rem;
}
.report p {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
}
.report .stuBox .list .name,.knows .knowsList .list .name,  .knows .csList .list .name{
    display: inline-block;
    width: 20%;
}
.report .stuBox .list i{
    display: inline-block;
    color: #00c7b5;
    text-indent: 3%;
}
.report .stuBox .list .jd , .knows .knowsList .list .jd, .knows .csList .list .jd {
    display: inline-block;
    background: "#00c7b5";
    height: 0.4rem;
}
.report .stuBox .className {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    border-top: solid 1px #eee;
    background: #fff;
}
.report .stuBox .className span {
    display: inline-block;
    width: 50%;
    border-right: solid 1px #eee;
}
.report .stuBox .className .active {
    color: #00c7b5;
}
.knows nav {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    display: flex;
}
.knows nav span {
    flex: 1;
}
.knows nav .active {
    border-bottom: solid 0.04rem #00c7b5;
}
.knows .knowsList .list, .knows .csList .list {
    color: #777777;
    line-height: 100%;
}
.knows .knowsList .list i, .knows .csList .list i {
    display: inline-block;
    text-indent: 3%;
}
.knows .cslist p {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    color: #00c7b5;
    text-align: center;
    position: relative;
    border-bottom: solid 1px #eee;
}
.knows .cslist p span {
    width: 5%;
    height: 70%;
    position: absolute;
    top: 0.1rem;
    right: 0.3rem;
}
.knows .cslist p span img {
    width: 100%;
    height: auto;
}
.knows .list .jd {
    margin-left: 3%;
    display: inline-block;
    background: #00c7b5;
    height: 20px;
}
.knows .list {
    padding-left: 5%;
    color: #777;
    margin-top: 0.2rem;
}
.report .changeBtn span, .report .className span {
    position: relative;
}
.report .changeBtn span img, .report .className span img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0.2rem;
}